.container
	.jumbotron
		h1 MultiVision
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ullam nam sequi consequuntur atque illum reiciendis provident doloribus, reprehenderit ab.

	.row
		.col-md-6
			div(ng-include="'/partials/main/featured-courses'")
		.col-md-6
			div(ng-include="'/partials/main/new-courses'")
